/* Estilos generales */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh; 
    position: relative; 
}

header {
    background-color: #333; /* Fondo del encabezado negro */
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 0;
    padding: 10px 20px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Ajusta el tamaño del logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-desplegable {
    display: none;
    position: absolute;
    background-color: #333;
    width: 100%;
}

.menu-desplegable ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.menu-desplegable ul li {
    padding: 15px 0;
}

.menu-desplegable ul li a {
    color: white;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 50px;
}

/* Estilos para la sección del producto */
main {
    margin-top: 70px; /* Ajusta el espacio para que el encabezado no tape el contenido */
}

main .contenedor {
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
}

.foto {
    flex: 1;
    margin-right: 20px;
}

.foto img {
    width: 100%;
    height: auto;
}

.contenido {
    flex: 1;
}

.contenido h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

.precio {
    font-size: 30px; /* Precio más grande */
    margin: 0 0 10px;
}

.descripcion {
    font-size: 16px;
    margin: 0 0 20px;
}

.boton-comprar {
    background-color: #3498db; /* Fondo azul */
    color: #fff;
    padding: 20px 40px; /* Más grande */
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.boton-comprar:hover {
    background-color: #2980b9;
}
