body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh; 
    position: relative; 
}

header {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 0;
    padding: 10px 0; /* Agrega un poco de espacio en la parte superior e inferior del encabezado */
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajusta el padding horizontal del contenedor del encabezado */
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-desplegable {
    display: none;
    position: absolute;
    background-color: #333;
    width: 100%;
}

.menu-desplegable ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.menu-desplegable ul li {
    padding: 15px 0;
}

.menu-desplegable ul li a {
    color: white;
    text-decoration: none;
}

.contenedor-tienda {
    margin-top: 70px; /* Ajusta el margen superior según sea necesario */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    background-color: #fff;
    padding: 20px; /* Agregar padding para separar el contenido del borde */
    padding-bottom: 80px;
}

.producto {
    text-align: center;
}

.producto img {
    max-width: 100%; /* Ajustar imágenes al ancho del contenedor */
}

.boton-compra {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton-compra:hover {
    background-color: #0056b3;
}
.tienda{
    border-bottom: 2px solid #fff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 50px;
}